<p>login works!</p>
<div class="container border">
  <form class="d-flex flex-column needs-validation" novalidate>
    <div class=" col-md-4 py-3">
      <label for="validationCustom01" class="form-label">Email</label>
      <input type="email" class="form-control" id="validationCustom01" required placeholder="email@email.com">
    </div>
    <div class=" col-md-4 py-3">
      <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" name="" id="" placeholder="Password1234">
      </div>
    </div>
  </form>
  <button class="btn btn-primary" type="submit">Submit form</button>
</div>