<nav class="navbar navbar-expand-lg navbar-dark bg-dark mpy-3">
  <a class="navbar-brand ms-3 ms-xl-5" href="#"><i class="bi bi-house"></i></a>
  <button class="navbar-toggler me-xl-5 me-3" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav gap-3">
     <!-- <a class="nav-item nav-link fs-5 active" [routerLink]="['/']">Login</a>-->
      <a class="nav-item nav-link fs-5" [routerLink]="['/users']"><i class="bi bi-people-fill"></i>
        Usuarios </a>
      <a class="nav-item nav-link fs-5" [routerLink]="['/resources']"><i class="bi bi-journal-text"></i>
        Recursos </a>
      
    </div>
  </div>
</nav>