<div class="container">

   
    <div class="d-flex justify-content-center">
        <app-nav-bar></app-nav-bar>
       
    </div>
  
    <a [routerLink]="['/resources']" class="btn btn-primary "><i></i>Volver</a>
    <div class="d-flex justify-content-center">
     
        <div class="card" style="width: 18rem;">
            <div class="muestra-color">
                <div class="muestra-color" style="max-width: 18rem;">
                    <div class="card-header">#000000</div>
                   
            </div>
            <div class="card-body">
              <h5 class="card-title">Nombre:</h5>
              <p class="card-text">Año:</p>
              <p class="card-text">Pantone:</p>
              <p class="card-text"><a href="#">URL</a></p>
            </div>
          </div>
        
       
    </div>
    
</div>
