<app-nav-bar></app-nav-bar>

<!--Tabla inicial
<div class="container my-4 my-xl-5">
  <div class="row text-center w-75 m-auto">
    <div class="d-flex">
      <div class="col p-3 p-xl-5 fs-1 text-uppercase border bg-dark text-light">
        Users
      </div>
      <div class="col p-3 p-xl-5 fs-1 text-uppercase border bg-dark text-light">
        Resources
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex justify-content-center align-items-center col p-xl-4 p-3 fs-5 border">
        Column i
      </div>
      <div class="col p-xl-4 p-1 border">
        <a [routerLink]="['/resource/1']"  class="w-50 btn btn-secondary fs-5 py-xs-3 m-2 mx-xl-3 align-items-center border border-dark">
          <i class="bi bi-eye-fill btn-icons"></i>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex justify-content-center align-items-center col p-xl-4 p-3 fs-5 border">
        Column i
      </div>
      <div class="col p-xl-4 p-1 border">
        <a [routerLink]="['/resource/1']"  class="w-50 btn btn-secondary fs-5 py-xs-3 m-2 mx-xl-3 align-items-center border border-dark">
          <i class="bi bi-eye-fill btn-icons"></i>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex justify-content-center align-items-center col p-xl-4 p-3 fs-5 border">
        Column i
      </div>
      <div class="col p-xl-4 p-1 border">
        <a [routerLink]="['/resource/1']"  class="w-50 btn btn-secondary fs-5 py-xs-3 m-2 mx-xl-3 align-items-center border border-dark">
          <i class="bi bi-eye-fill btn-icons"></i>
        </a>
      </div>
    </div>
  </div>
</div>
-->
<!--tabla dinamica recursos-->
<div class="p-5">
    <div class="container">
    
      <div class="col-6">
      <div class="row p-1 border">
        <div class="col-8"><p>Recurso</p></div>
        <div class="col-4 p-2 "><p>Ver</p></div>
      </div>
    </div>
  <div class="col-6" *ngFor="let recurso of resources">
    <a [routerLink]="['/resorce/', recurso.id]">
      <div class="row p-1 border">
        <div class="col-8"><p>{{recurso.name}}</p></div>
        <div class="col-4 p-2 ">
          <a [routerLink]="['/resource/', recurso.id]"  class="w-50 btn btn-secondary  align-items-center border border-dark">
            <i class="bi bi-eye-fill btn-icons"></i>
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
